:root {
    --primary-color: #237bff; //blue600
    --primary-white: #fff;
    --primary-black: #000;
    --disabled-color: #1a202c; //gray900
    --border-color: #718096;
    --divide-color: #cbd5e0;  //gray400
}
  