$black: #000000 !default;
$white: #ffffff !default;
$gray-dark: #444a54 !default;

$gray-100: #f8f9fb !default;
$gray-200: #edf2f7 !default;
$gray-300: #e2e8f0 !default;
$gray-400: #cbd5e0 !default;
$gray-500: #a0aec0 !default;
$gray-600: #718096 !default;
$gray-700: #4a5568 !default;
$gray-800: #2d3748 !default;
$gray-900: #1a202c !default;

$red-100: #fff1f1 !default;
$red-200: #fed7d7 !default;
$red-300: #feb2b2 !default;
$red-400: #fc8181 !default;
$red-500: #f56565 !default;
$red-600: #eb5757 !default;
$red-700: #e04747 !default;
$red-800: #c34141 !default;
$red-900: #a43434 !default;

$orange-100: #fffaf0 !default;
$orange-200: #feebc8 !default;
$orange-300: #fbd38d !default;
$orange-400: #f6ad55 !default;
$orange-500: #f59641 !default;
$orange-600: #ee8930 !default;
$orange-700: #e77612 !default;
$orange-800: #c65312 !default;
$orange-900: #9f410d !default;

$yellow-100: #fffa3c !default;
$yellow-200: #fff3ce !default;
$yellow-300: #ffe79f !default;
$yellow-400: #ffdd76 !default;
$yellow-500: #f2c94c !default;
$yellow-600: #ecbb24 !default;
$yellow-700: #e2ac06 !default;
$yellow-800: #c69500 !default;
$yellow-900: #9c7000 !default;

$green-100: #e8f9ec !default;
$green-200: #d1f5d9 !default;
$green-300: #97e8b6 !default;
$green-400: #68d391 !default;
$green-500: #48bb78 !default;
$green-600: #259d5d !default;
$green-700: #15864e !default;
$green-800: #276749 !default;
$green-900: #276749 !default;

$teal-100: #e6fffa !default;
$teal-200: #b2f5ea !default;
$teal-300: #81e6d9 !default;
$teal-400: #61e1d5 !default;
$teal-500: #2abeb7 !default;
$teal-600: #00958e !default;
$teal-700: #2c7a7b !default;
$teal-800: #285e61 !default;
$teal-900: #234e52 !default;

$lightblue-100: #e1f8ff !default;
$lightblue-200: #c7f1ff !default;
$lightblue-300: #94e5ff !default;
$lightblue-400: #59d7ff !default;
$lightblue-500: #05b6ee !default;
$lightblue-600: #109fdc !default;
$lightblue-700: #0087c1 !default;
$lightblue-800: #005c8f !default;
$lightblue-900: #003b5b !default;

$blue-100: #e9f4ff !default;
$blue-200: #cee8ff !default;
$blue-300: #a8d5ff !default;
$blue-400: #65acff !default;
$blue-500: #4299ff !default;
$blue-600: #237bff !default;
$blue-700: #0059df !default;
$blue-800: #003cb1 !default;
$blue-900: #002979 !default;

$indigo-100: #f0f4ff !default;
$indigo-200: #d7e2ff !default;
$indigo-300: #a3bffa !default;
$indigo-400: #7f9cf5 !default;
$indigo-500: #667eea !default;
$indigo-600: #5a67d8 !default;
$indigo-700: #4c51bf !default;
$indigo-800: #3734a8 !default;
$indigo-900: #261d87 !default;

$purple-100: #faf5ff !default;
$purple-200: #e9d8fd !default;
$purple-300: #d6bcfa !default;
$purple-400: #b794f4 !default;
$purple-500: #9f7aea !default;
$purple-600: #805ad5 !default;
$purple-700: #6b46c1 !default;
$purple-800: #553c9a !default;
$purple-900: #44337a !default;

$pink-100: #fff5f7 !default;
$pink-200: #fed7e2 !default;
$pink-300: #fbb6ce !default;
$pink-400: #ff96c0 !default;
$pink-500: #ed64a6 !default;
$pink-600: #d53f8c !default;
$pink-700: #b83280 !default;
$pink-800: #97266d !default;
$pink-900: #702459 !default;
